.scalable-header {
  //--🠋 Desktop (Landscape) 🠋--//
  @media screen and (orientation: landscape) {
    display: flex;
    padding: 0 25px;
    align-items: center;
    background: transparent;
    justify-content: space-between;

    .header-logo {
      cursor: default;
      font-weight: 600;
      font-size: 2.5rem;
      color: $primary-light;
    }
    .menu-bars {
      display: none;
      cursor: pointer;
      font-size: 3.5rem;
      color: $primary-light;
    }
    .navigation {
      a {
        font-size: 2rem;
        font-weight: 400;
        transition: 0.25s;
        margin: 0 0 0 3.5rem;
        color: $primary-light;
        text-decoration: none;
      }
      a:hover {
        color: $primary-medium;
      }
      .active {
        color: $primary-medium;
      }
    }
  }
  //--🠋 Mobile (Portrait) 🠋--//
  @media screen and (orientation: portrait) {
  }
}
