.default-main {
  flex-direction: column;
  padding: 10rem 0 0 10%;
  align-items: flex-start;
  background: url('~content/png-files/profile-background.png') no-repeat center/contain;

  .home-content {
    max-width: 80rem;

    h1 {
      color: white;
      cursor: default;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.5;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }
    p {
      width: 50rem;
      color: white;
      cursor: default;
      font-size: 1.5rem;
      margin: 2rem 0 4rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }
    .text-animate {
      width: 32rem;
      cursor: default;
      position: relative;
      h3 {
        font-size: 3rem;
        font-weight: 600;
        color: transparent;
        -webkit-text-stroke: 0.75px $primary-light;
      }
    }
    .btn-box {
      width: 35rem;
      height: 5rem;
      display: flex;
      position: relative;
      justify-content: space-between;
      .btn {
        z-index: 1;
        width: 15rem;
        height: 100%;
        overflow: hidden;
        font-weight: 600;
        transition: 0.25s;
        font-size: 1.75rem;
        position: relative;
        align-items: center;
        letter-spacing: 5px;
        color: $primary-dark;
        display: inline-flex;
        text-decoration: none;
        border-radius: 0.5rem;
        justify-content: center;
        background-color: $primary-light;
        border: 0.25rem solid $primary-light;
      }
      .btn:hover {
        color: $primary-light;
      }
      .btn:nth-child(2) {
        color: $primary-light;
        background: transparent;
      }
      .btn:nth-child(2):hover {
        color: $primary-dark;
      }
      .btn:nth-child(2)::before {
        background: $primary-light;
      }

      .btn::before {
        top: 0;
        left: 0;
        width: 0;
        z-index: -1;
        content: '';
        height: 100%;
        transition: 0.25s;
        position: absolute;
        background: $primary-dark;
      }
      .btn:hover::before {
        width: 100%;
      }
    }
  }
  .home-sci {
    bottom: 4rem;
    width: 24rem;
    display: flex;
    position: absolute;
    border-radius: 3rem;
    justify-content: space-between;
    a {
      z-index: 1;
      width: 4.5rem;
      height: 4.5rem;
      transition: 0.25s;
      font-size: 2.5rem;
      border-radius: 50%;
      position: relative;
      align-items: center;
      display: inline-flex;
      color: $primary-light;
      justify-content: center;
      background: transparent;
      border: 0.25rem solid $primary-light;
    }
    a::before {
      top: 0;
      left: 0;
      width: 0;
      z-index: -1;
      content: '';
      height: 100%;
      transition: 0.25s;
      position: absolute;
      background: $primary-light;
    }

    a:hover {
      color: $primary-dark;
    }

    a:hover::before {
      width: 100%;
    }
  }
  .home-imgHover {
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    transition: 3s;
    position: absolute;
    background: transparent;
  }
  .home-imgHover:hover {
    opacity: 0.75;
    background: $primary-dark;
  }

  .about {
    display: flex;
  }
}
