.scalable-main {
  //--🠋 Desktop (Landscape) 🠋--//
  @media screen and (orientation: landscape) {
    .home div[class*='grid'] {
      .home-description {
        background-color: $blue-dark;
      }
      .home-picture {
        background-color: $green-dark;
      }
    }

    .about div[class*='grid'] {
      background-color: $purple-dark;
    }
    .experience div[class*='grid'] {
      background-color: $red-dark;
    }
    .skills div[class*='grid'] {
      background-color: $brown-dark;
    }
    .contact div[class*='grid'] {
      background-color: $grey-dark;
    }
  }
  //--🠋 Mobile (Portrait) 🠋--//
  @media screen and (orientation: portrait) {
    display: none;
  }
}
