.scalable-footer {
  //--🠋 Desktop (Landscape) 🠋--//
  @media screen and (orientation: landscape) {
    .social-media {
      width: 25%;
      display: flex;
      align-items: center;
      margin: 12.5px 0 12.5px 25px;
      justify-content: space-between;
      a {
        z-index: 1;
        width: 50px;
        height: 50px;
        font-size: 25px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        align-items: center;
        display: inline-flex;
        text-decoration: none;
        color: $primary-light;
        justify-content: center;
        background: transparent;
        border: 0.25rem solid $primary-light;
        filter: drop-shadow(0 0mm 4mm black);
      }
      a:hover {
        transition: 1s;
        color: $primary-dark;
      }
      a::before {
        top: 0;
        left: 0;
        width: 0;
        content: '';
        z-index: -1;
        height: 100%;
        transition: 0.75s;
        position: absolute;
        background: $primary-light;
      }
      a:hover::before {
        width: 100%;
      }
    }
  }
  //--🠋 Mobile (Portrait) 🠋--//
  @media screen and (orientation: portrait) {
  }
}
