.default-header {
  //--🠋 Desktop (Landscape) 🠋--//
  @media screen and (orientation: landscape) {
    display: grid;
    border: 4px dashed $pink-neon;
    background: rgba($pink-neon, 0.25);
    grid-template: 75px / 25px repeat(3, 1fr) 25px; //--🠊 grid-template-rows / grid-template-columns 🠈--//
    /*
    img {
      grid-area: 1 / 2 / 2 / 3; //--🠊 row-start / col-start / row-end / col-end 🠈--//
    }
    */
    .header-navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      grid-area: 1 / 3 / 2 / 5; //--🠊 row-start / col-start / row-end / col-end 🠈--//
      justify-content: space-around;
      a {
        overflow: hidden;

        text-decoration: none;
        color: $primary-light;
        transition: 0.25s ease-in-out;
        h6 {
          cursor: pointer;
          font-weight: 600;
        }
      }

      a:hover {
        color: $primary-medium;
      }
      .active {
        color: $primary-medium;
        h6 {
          cursor: default;
        }
      }
    }
  }

  //--🠋 Mobile (Portrait) 🠋--//
  @media screen and (orientation: portrait) {
  }
}
