* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', arial;
}

//--|▼| Color Setup |▼|--//
$primary-dark: #1f3131; //--► rgba(31,49,49,1) ◄--//
$primary-medium: #3d6262; //--► rgba(61,98,98,1) ◄--//
$primary-light: #9eb0b0; //--► rgba(158,176,176,1) ◄--//

$secondary-dark: #230510; //--► rgba(35,5,16,1) ◄--//
$secondary-medium: #450920; //--► rgba(69,9,32,1) ◄--//
$secondary-light: #a2848f; //--► rgba(162,132,143,1) ◄--//

$tertiary-dark: #392319; //--► rgba(57,35,25,1) ◄--//
$tertiary-medium: #714631; //--► rgba(113,70,49,1) ◄--//
$tertiary-light: #b8a298; //--► rgba(184,162,152,1) ◄--//
//--|▲| Color Setup |▲|--//
