.default-body {
  display: grid;
  height: 100vh;
  //--🠋 Desktop (Landscape) 🠋--//
  @media screen and (orientation: landscape) {
    background: $primary-dark;
    grid-template: 75px 1fr 75px / 25px repeat(2, 1fr) 25px; //--🠊 grid-template-rows / grid-template-columns 🠈--//
    .default-header {
      grid-area: 1 / 1 / 2 / 5; //--🠊 row-start / col-start / row-end / col-end 🠈--//
    }
    .default-footer {
      grid-area: 4 / 1 / 3 / 5; //--🠊 row-start / col-start / row-end / col-end 🠈--//
    }
    .default-leftbar {
      grid-area: 2 / 1 / 3 / 3; //--🠊 row-start / col-start / row-end / col-end 🠈--//
    }
    .default-main {
      grid-area: 2 / 2 / 3 / 4; //--🠊 row-start / col-start / row-end / col-end 🠈--//
    }
  }
  //--🠋 Mobile (Portrait) 🠋--//
  @media screen and (orientation: portrait) {
    background: red;
  }
}
